/* Body */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat, Raleway;
  margin: 0;
  padding: 0;
  background: white;
  text-transform: uppercase;
  font-size: 11px;
}
section{
   height: 100vh;
   background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("https://www.cimbbank.com.ph/en/financial-literacy-articles/financial-essentials/4-philippine-loan-myths-debunked/_jcr_content/root/responsivegrid_58989/responsivegrid_470203168/responsivegrid/responsivegrid/image_copy_copy_copy_1934310521.img.jpeg/1596437734123/loan-myths-1.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
h1 {
  margin: 0;
}
/* Navbar */
nav{
  background: #0082e6;
  height: 70px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 45px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
     z-index: 1;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/*LoanForm */
@import "https://fonts.googleapis.com/css?family=Raleway";
* {
  box-sizing: border-box;
}

#loanForm {
  display: block;
  border: 6px solid #1b9bff;
  padding: 2em;
  width: 510px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
input,
textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 350px;
  padding: 0.6em;
}
select,
textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 350px;
  padding: 0.6em;
}
option,
textarea {
  margin: 0.8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: 13px;

  display: block;
  width: 350px;
  padding: 0.6em;
}
textarea {
  height: 80px;
  resize: none;
}
.formBtn {
  width: 140px;
  display: inline-block;

  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

