<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="{{ url_for('static', filename='after_login.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <nav>
         <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
        <label class="logo">LOGO</label>
        <ul>
          <li><a class="active" href="logout">Logout</a></li>
        </ul>
      </nav>
  <section> 
<div class="card-content"> 
<div class="row">
  <div class="column">
    <div class="card">
      <i class="fas fa-users fa-9x"></i>
      <a href="customer_details"><h3>Customer Details</h3></a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <i class="fas fa-piggy-bank fa-9x"></i>
      <a href="new_loan/shortLoan"><h3>New Loan</h3></a>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <i class="fas fa-calculator fa-9x"></i>
      <h3>Generate EMI</h3>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
     <i class="far fa-money-bill-alt fa-9x"></i>
      <h3>Recieve EMI</h3>
    </div>
  </div>
</div>
</div>
</section>
</body>
</html>
