<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer_details.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <title>Customer Details</title>
</head>
<body>
<div id="layer">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">LOGO</label>
        <ul>
          <li><a class="active" href="homepage">Home</a></li>
        </ul>
      </nav>
    <button  id="contact" class="openBtn" onclick="openForm()">New Customer</button>
     <button   id="search" class="openBtn" onclick="openSearch()">Search Customer</button>
</div>
<div id="contactForm" class="overlay">
     <span class="closebtn" id="closebtnid" onclick="closeForm()" title="Close Form">×</span>
 <form action="{{ url_for('details') }}" method="post">
      <table>
          <tr>
              <td>Firstname</td>
              <td> <input name="firstname"   type="text" required /></td>
          </tr>
          <tr>
              <td>Middlename</td>
              <td> <input name="middlname"   type="text" required /></td>
          </tr>
          <tr>
              <td>Lastname</td>
              <td> <input name="lastname"  type="text" required /></td>
          </tr>
          <tr>
              <td>CPF_No</td>
              <td><input name="cpf_no" type="text" required /></td>
          </tr>
          <tr>
              <td>Date Of Birth</td>
              <td> <input name="DOB" type="date" required /></td>
          </tr>
          <tr>
              <td>Phone number</td>
              <td> <input name="phonenumber"   type="text" required /></td>
          </tr>
          <tr>
              <td>Email ID</td>
              <td><input name="emailid" type="email" required /></td>
          </tr>
          <tr>
              <td>Date Of Joining</td>
              <td><input name="DOJ" type="date" required /></td>
          </tr>
          <tr>
              <td>DOE</td>
              <td> <input name="DOE" type="date" required /></td>
          </tr>
          <tr>
              <td>Total Share Amt</td>
              <td> <input name="total_share_amt" type="text" required /></td>
          </tr>
          <tr>
              <td>Total Lt Amt</td>
              <td> <input name="total_lt_out"   type="text" required /></td>
          </tr>
          <tr>
              <td>Total St Amt</td>
              <td><input name="total_st_out"  type="text" required /></td>
          </tr>

      </table>
       <input class="formBtn" type="submit" value="submit" />
      <input class="formBtn" type="reset"  value="reset"/>
  </form>
       <div class="msg">{{ msg }}</div>
  </div>
<div id="mysearch" class="search-overlay">
  <span id="close" class="close" onclick="closeSearch()" title="Close Search">×</span>
  <div class="overlay-content">
    <form action="{{ url_for('search') }}" method="POST">
      <input type="text" placeholder="Search.." name="cpf_no">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<div>
    <table border = 1>
         <thead>
            <td>Firstname</td>
            <td>Middlename</td>
            <td>Lastname</td>
            <td>cpf_no</td>
            <td>DOB</td>
            <td>phonenumber</td>
            <td>emailid</td>
            <td>DOJ</td>
            <td>DOE</td>
            <td>Total Share Amount</td>
            <td>Total Loan Amount</td>
            <td>Total St AMount</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["firstname"]}}</td>
               <td>{{row["middlename"]}}</td>
               <td> {{ row["lastname"]}}</td>
               <td>{{row['cpf_no']}}</td>
                <td>{{row["DOB"]}}</td>
                 <td> {{ row["phonenumber"]}}</td>
               <td>{{row["emailid"]}}</td>
               <td>{{row['DOJ']}}</td>
                <td>{{row["DOE"]}}</td>
               <td>{{row["total_share_amt"]}}</td>
               <td> {{ row["total_lt_out"]}}</td>
               <td>{{row['total_st_out']}}</td>
            </tr>
         {% endfor %}
      </table>
</div>

<script>
$("#contact").click(function(){
  $('#layer').css("filter","blur(20px)");
});
$("#closebtnid").click(function(){
      $("#layer").css("filter","");
    });
    $("#search").click(function(){
  $('#layer').css("filter","blur(20px)");
});
$("#close").click(function(){
      $("#layer").css("filter","");
    });
function openForm() {
  document.getElementById("contact").style.display = "inline-block";
}

function closeForm() {
  document.getElementById("contactForm").style.display = "none";
}
function openSearch() {
  document.getElementById("mysearch").style.display = "block";
}

function closeSearch() {
  document.getElementById("mysearch").style.display = "none";
}
    $(function () {
  // contact form animations
  $("#contact").click(function () {
    $("#contactForm").fadeToggle();
  });
  $(document).mouseup(function (e) {
    var container = $("#contactForm");

  });
});
</script>
</body>
</html>