<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='customer_details.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript and JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <title>Customer Details</title>
</head>
<body>
<!-- Nav Bar -->
<section>
<div id="layer">
    <nav>
        <label class="logo">LOGO</label>
        <ul>
          <li><a class="active" href="after_login">Home</a></li>
        </ul>
      </nav>
    <!-- Form Buttons -->
    <button  id="contact" class="openBtn" onclick="openForm()">New Customer</button>
     <button   id="search" class="openBtn" onclick="openSearch()">Search Customer</button>
</div>
<!-- New Customer Registration -->
<div id="contactForm" class="overlay">
     <span class="closebtn" id="closebtnid" onclick="closeForm()" title="Close Form">×</span>
 <form action="{{ url_for('details') }}" method="post">
      <table>
          <tr>
              <td>Firstname</td>
              <td> <input name="firstname"   type="text" required /></td>
          </tr>
          <tr>
              <td>Middlename</td>
              <td> <input name="middlname"   type="text" required /></td>
          </tr>
          <tr>
              <td>Lastname</td>
              <td> <input name="lastname"  type="text" required /></td>
          </tr>
          <tr>
              <td>CPF_No</td>
              <td><input name="cpf_no" type="text" required /></td>
          </tr>
          <tr>
              <td>Date Of Birth</td>
              <td> <input name="DOB" type="date" required /></td>
          </tr>
          <tr>
              <td>Phone number</td>
              <td> <input name="phonenumber"   type="text" required /></td>
          </tr>
          <tr>
              <td>Email ID</td>
              <td><input name="emailid" type="email" required /></td>
          </tr>
          <tr>
              <td>Date Of Joining</td>
              <td><input name="DOJ" type="date" required /></td>
          </tr>
          <tr>
              <td>DOE</td>
              <td> <input name="DOE" type="date" required /></td>
          </tr>
          <tr>
              <td>Total Share Amt</td>
              <td> <input name="total_share_amt" type="text" required /></td>
          </tr>
          <tr>
              <td>Total Lt Amt</td>
              <td> <input name="total_lt_out"   type="text" required /></td>
          </tr>
          <tr>
              <td>Total St Amt</td>
              <td><input name="total_st_out"  type="text" required /></td>
          </tr>
      </table>
       <input class="formBtn" type="submit" value="submit" />
      <input class="formBtn" type="reset"  value="reset"/>
  </form>
       <div class="msg">{{ msg }}</div>
  </div>
<!-- Customer Details Display -->
<div id="mysearch" class="search-overlay">
  <div class="overlay-content">
    <form action="{{ url_for('search') }}" method="POST">
      <input type="text" placeholder="Enter the customer's CPF number.." name="cpf_no">
      <button id="searchBtn" onclick="search()" type="submit" value="search"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div id="scrollTable">
    <table id="customers">
         {% for row in rows %}
        <tr>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>CPF No</th>
        <th>DOB</th>
        <th>Email Id</th>
        <th>Phone Number</th>
        <th>DOJ</th>
        <th>DOE</th>
        <th>Total Share Amount</th>
        <th>Total Loan Amount</th>
        <th>Total St Amount</th>
        </tr>
        <tr>
           <td>{{row["firstname"]}}</td>
            <td>{{row["middlename"]}}</td>
            <td>{{row["lastname"]}}</td>
            <td>{{row["cpf_no"]}}</td>
             <td>{{row["DOB"]}}</td>
            <td>{{row["emailid"]}}</td>
             <td>{{row["phonenumber"]}}</td>
            <td>{{row["DOJ"]}}</td>
             <td>{{row["DOE"]}}</td>
            <td>{{row["total_share_amt"]}}</td>
             <td>{{row["total_lt_out"]}}</td>
            <td>{{row["total_st_out"]}}</td>
        </tr>
        {% endfor %}
        </table>
</div>
    </section>
<script>
<!-- Blur Background contactForm -->
$("#contact").click(function(){
  $('#layer').css("filter","blur(20px)");
  });
$("#closebtnid").click(function(){
  $("#layer").css("filter","");
});
<!-- Display contactForm -->
function openForm() {
  document.getElementById("contact").style.display = "inline-block";
}
function closeForm() {
  document.getElementById("contactForm").style.display = "none";
}
<!-- Display searchForm -->
function openSearch() {
  document.getElementById("mysearch").style.display = "inline-block";
}
function closeSearch() {
  document.getElementById("mysearch").style.display = "none";
}
function search() {
  document.getElementById("scrollTable").style.display = "inline-block";
}
function openForm() {
  document.getElementById("scrollTable").style.display = "none";
}

<!-- ContactForm Animation -->
    $(function () {
  // contact form animations
  $("#contact").click(function () {
    $("#contactForm").fadeToggle();
  });
  $(document).mouseup(function (e) {
    var container = $("#contactForm");
  });
});

</script>
</body>
</html>