<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generate EMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='get_emi.css') }}">
       <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script>
  window.console = window.console || function(t) {};
</script>



  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" href="/after_login">Home</a></li>
        <li><a href="logout">Logout</a></li>
      </ul>
    </nav>
     <div class="logo-container">
       <div class="logo">Logo</div>
       <div class="image">
         <div class="imageinline">
           <div class="imagetagline" style="padding-top: 3%;"/><p>For The People </p>
             <p id="bythepeople">By The People</p> </div>
         <div class="card-content">
      <div class="row">
        <div class="column">
          <div class="card">
        <form action="{{ url_for('get_emi') }}" method="post">
          <div class="inputslider">
            <label>Loan Amount</label>
         <input class='range__slider' id='slider' max='500000' min='10000' oninput='loan.value=slider.value' type='range' value='0' style="width:30em ;">
         <input class='range__amount' name="loan_amt" id='loan' placeholder="Rupees" oninput='slider.value=loan.value' type='text' >
         <label>Interest Rate</label>
         <input class='range__slider' id='sliderr' max='20' min='0' oninput='amount.value=sliderr.value' type='range' value='10.8' style="width:30em ;">
         <input class='range__amount' name= "int_rate" id='amount' oninput='sliderr.value=amount.value' type='text' value='10.8'>
         <label>Installments(Months)</label>
         <input class='range__slider' id='slider3' max='36' min='10' oninput='amount3.value=slider3.value' type='range' value='10' style="width:30em ;">
         <input class='range__amount' name="inst" id='amount3' placeholder="Months" oninput='slider3.value=amount3.value' type='text' >
         </div>

         <div class="calculation">
           <div class="writing">
             <h2>
               Equated Monthly EMI
             </h2>
               <button type="submit" value="submit">Submit</button>
           </div>
         </div>

     </form>
     </div>
              </div>
            </div>
          <table class="container" >
	<thead>
		<tr>
			<th><h1>Installments</h1></th>
			<th><h1>Principal Amount</h1></th>
			<th><h1>Interest Paid</h1></th>
      <th><h1>EMI</h1><h1>(Equated Monthly Installments)</h1></th>
			<th><h1>Total Payment</h1></th>
      <th><h1>Outsatanding Loan</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>9518</td>
			<td>6369</td>
      <td>6369</td>
			<td>013250</td>
      <td>013250</td>
		</tr>
		<tr>
			<td>2</td>
			<td>7326</td>
			<td>10437</td>
      <td>6369</td>
			<td>005122</td>
      <td>013250</td>
		</tr>
		<tr>
			<td>3</td>
			<td>4162</td>
			<td>5327</td>
      <td>6369</td>
			<td>002434</td>
      <td>013250</td>
		</tr>
    <tr>
			<td>4</td>
			<td>36514</td>
			<td>2961</td>
      <td>6369</td>
			<td>001210</td>
      <td>013250</td>
		</tr>
    <tr>
			<td>5</td>
			<td>2002</td>
			<td>4135</td>
      <td>6369</td>
			<td>004619</td>
      <td>013250</td>
		</tr>
    <tr>
			<td>6</td>
			<td>4623</td>
			<td>3486</td>
      <td>6369</td>
			<td>003152</td>
      <td>013250</td>
		</tr>
	</tbody>
</table>


    </div>
         </div>
       </div>
     </div>

      </body>
    </html>
